.shop{
    display:grid;
    grid-template-columns: 4fr 1fr;
}
.orders{
    background-color:orange;
    min-height: 100vh;
}
.shop-items{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:35px;
    justify-items: center;
    padding: 3rem;
}